.parent_container {
    width: 100%;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(167, 255, 195, 0.1);
    min-height: 60vh;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.searchpage_container {
    /* height: 100vh; */
    display: flex;
    width: 100%;
    justify-content: center;
    /* background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */

    /* background-color: #77aa77; */
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2377aa77'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E"); */
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(167, 255, 195, 0.1);
    position: relative;
}

.main_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4% 10%;
    justify-content: flex-start;
}

.flights_text {
    width: 100%;
    text-align: left;
}

.flights_text h1 {
    font-size: calc(var(--font-scale, 1)* 21px);
    color: black;
    text-align: left;
    /* text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6); */
}

.inner_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}



.filter_container {
    flex: 1 1 25%;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
    width: 30%;
    transform: 1s ease;
}

.flights_container {
    flex: 1 1 70%;
    padding: 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 70%; */
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.1);

}

.flight_details_container {
    display: flex;
    /* border: 1px solid rgba(0, 0, 0, 0.7); */
    width: 100%;
    border-radius: 5px;
    background-color: white;

}


.flight_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 5% 8px;
    font-size: calc(var(--font-scale, 1)* 18px);
    font-family: lato, sans-serif;
}

.flightSchedule_container {
    flex: 1 1 70%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.airline_info {
    flex: 1 1 20%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}


.destination_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

}

.origin_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.time_el {
    font-weight: 700;
}



.price_info {
    display: flex;
    align-items: center;
}

.small_text {
    font-size: calc(var(--font-scale, 1)* 13px);
}

.duration_info {
    font-size: calc(var(--font-scale, 1)* 13px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}

.price_info {
    font-size: calc(var(--font-scale, 1)* 18px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.flight_stops {
    font-weight: bold;
}

.stop_line {
    background-color: green;
    width: 40px;
    height: 1.5px;
}

.form_container {

    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    min-width: 200px;
    min-height: 100px;
    object-fit: cover;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form_div {
    display: flex;
    background-color: white;
    width: 80%;
    height: 50px;
    border-radius: 30px;
    align-items: center;
    padding: 10px 12px;
}


.form_div form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100%;
}

.input_container {
    width: 100%;
    height: 100%;
    border-right: 0.4px solid rgba(0, 0, 0, 0.3);
    padding: 0 4px;
}

.action_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_container input {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
}

.input_container select {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
}

.search_btn {
    font-size: calc(var(--font-scale, 1)* 17px);
    padding: 4px 14px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.6);
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;
    font-weight: 650;
    width: 130px;
    cursor: pointer;
}



.filter_parent {
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.filter_heading {
    font-size: 16px;
    font-weight: 600;
    margin: 1%;
}

.filter_box {
    padding: 3% 6%;
}

.filter_box ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter_box ul li {
    display: flex;
    gap: 8px;
    align-items: center;
}

.filter_box ul li input {
    width: 16px;
    height: 16px;
}

.populae_filter {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.flex_container {
    display: flex;
    flex-direction: column;
}

.price_value_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.filter_action_btn {
    display: none;
    border: 0.8px solid rebeccapurple;
    font-weight: 550;
}



@media screen and (max-width: 768px) {



    .filter_container,
    .flights_container {
        flex: 1 1 100%;
    }

    .inner_container {
        padding: 4% 2%;
    }

    .filter_action_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 4px 3px;
    }

    .form_div {
        display: none;
    }

    .filter_container {
        height: 0;
        overflow: hidden;
        padding: 0;
    }

    .filter_parent {
        padding: 10px 5px;
    }

}